[Unit]
Description=Declarative IPFS P2P Tunnel Manager (User Service)
After=network.target ipfs.service

[Service]
Type=simple
ExecStart=%h/.cargo/bin/ipfs-tunnels-manager
Restart=on-failure
RestartSec=5s

# 传递你代码里支持的日志环境变量
Environment=RUST_LOG=info

[Install]
WantedBy=default.target